<style>
	body{
		font-family: Arial, Helvetica, sans-serif;
		background-image: linear-gradient(to right, rgb(20,147,220), rgb(17, 54, 71));
		height: 100%;
	}
	.box{
		color: white;
		position: relative;
		top: 5vh;
		left: 20%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 15px;
		border-radius: 15px;
		width: 26%;
	}
	.box1{
		color: white;
		position: relative;
		top: -52vh;
		left: 54%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 15px;
		border-radius: 15px;
		width: 27%;
	}
	fieldset{
		border: 3px solid dodgerblue;
	}
	legend{
		border: 1px solid dodgerblue;
		padding: 10px;
		text-align: center;
		background-color: dodgerblue;
		border-radius: 5px;
	}	
	.box2{
		color: white;
		position: relative;
		top: -45vh;
		left: 21%;
		background-color: rgba(0,0,0,0.8);
		padding: 15px;
		border-radius: 15px;
		width: 60%;
	}
	table{
		border-collapse: collapse;
		width: 100%;
		border-radius: 15px 15px 0 0;
		overflow: hidden;
	}
	table thead tr{
		background-color: rgba(192,192,192,0.2);
		color: #ffffff;
		text-align: center;
		font-weight: bold;
	}
	table th,
	table td{
		padding: 12px 15px;
	}
	table tbody tr{
		border-bottom: 1px solid #dddddd;
	}
	table tbody tr:nth-of-type(even){
		background-color: rgba(192,192,192,0.2);
	}
	table tbody tr:last-of-type{
		border-bottom: 2px solid background-color: rgba(192,192,192,0.2);
	}
	.form{
		color: white;
		position: relative;
		top: -40vh;
		left: 23%;
		background-color: rgba(0,0,0,0.8);
		padding: 15px;
		border-radius: 15px;
		width: 55%;
	}

</style>

<body>
	<div class="box">
		<fieldset>
			<legend><b>Grade Atual</b></legend>
		<div>
			{{#each dados.dat}}
			<h3>Horas Restantes das disciplinas obrigatórias: {{horaAnt}} h</h3>
			<h3>Matérias Restantes: {{materiaAnt}}</h3>
			<h3>Optativas Restantes: {{optativaAntiga}}</h3>
			<h3>Humanas Restantes: {{humanaAntiga}}</h3>
			<h3>Horas de extensão restantes: 0 h</h3>
			{{/each}}
		</div>
		</fieldset>
	</div>
	<div class="box1">
		<fieldset>
			<legend><b>Grade Nova</b></legend>
		<div>
			{{#each dados.dat}}
			<h3>Horas restantes das disciplinas obrigatórias: {{horaNova}} h</h3>
			<h3>Matérias restantes: {{materiaNova}}</h3>
			<h3>Optativas restantes: {{optativaNova}}</h3>
			<h3>Humanas restantes: {{humanaNova}}</h3>
			<h3>Horas de extensão restantes: {{extensao}} h</h3>
			{{/each}}
		</div>
		</fieldset>
	</div>
	<div class="box2">
		<fieldset>
				<legend><b>Tabela de Equivalência das Disciplinas</b></legend>
			<table>
					<thead>
						<tr>
							<th>Disciplina</th>
							<th>Equivalente</th>
						</tr>
					</thead>
						<tbory>
						{{#each dados.data}}
							<tr>
								<td>{{disciplina}}</td>
								<td>{{equivalente}}</td>
							</tr>
						{{/each}}
						</tbory>
			</table>
		</fieldset>
	</div>
	<div class="form">
		<fieldset>
			<h3>Por favor, responda o formulário clicando no link abaixo, é rapidinho!</h3>
			<h3>Link: </h3>
		</fieldset>
	</div>
</body>
</html>

<!--<button class="btn btn-success" type="submit">Baixar Resultado</button>-->